<tr class="<%= cycle("even_row", "odd_row") %>" >
  <td class="name">
    <%= best_in_place(wishlistline, :name) %>
  </td>
  <td class="quantity">
    <%= best_in_place(wishlistline, :quantity) %>
  </td>  
  <td class="bought">
    <%= best_in_place(wishlistline, :bought) %>
  </td> 
    <td class="price">
    <%= number_to_currency(best_in_place(wishlistline, :price), :locale => :fr) %>
  </td> 

  <% if current_user?(wishlistline.wishlist.user) %>
    <td>
      <%= link_to "delete", wishlistline, :method => :delete,
        :confirm => "You sure?",
        :title => wishlistline.name %>
    </td>
  <% end %>
  
</tr>