<tr class="<%= cycle("even_row", "odd_row") %>" >
  <td class="name">
    <%= link_to wishlistline.name, wishlistline %>
  </td>
  <td class="quantity">
    <%= wishlistline.quantity %>
  </td>  
  <td class="bought">
    <%= wishlistline.bought %>
  </td> 
    <td class="price">
    <%= number_to_currency(wishlistline.price, :locale => :fr) %>
  </td> 

  <% if current_user?(wishlistline.wishlist.user) %>
    <td>
      <%= link_to "delete", wishlistline, :method => :delete,
        :confirm => "You sure?",
        :title => wishlistline.name %>
      <br />
      <%= link_to "edit", edit_wishlistline_path(wishlistline) %>
    </td>
  <% end %>
  
</tr>