<h1>User details</h1>
<%= gravatar_for @user %>
<p><label>Name: </label><%= @user.name %></p>
<p><label>Email: </label><%= @user.email %></p>
<small>Created: <%= @user.created_at %> | Updated: <%= @user.updated_at %></small>