<h1>Listing wishlists</h1>
<small>Click on the names to edit</small>

<table class="wishlists">
  <tr>
    <th class="name">Name</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wishlists.each do |wishlist| %>
  <tr class="<%= cycle("even_row","odd_row") %>">
    <td><%= best_in_place(wishlist, :name) %></td>
    <td><%= wishlist.created_at %></td>
    <td><%= link_to 'Show', wishlist %></td>
    <td><%= link_to 'Delete', wishlist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'shared/wishlist_form' %>