<div id="wishlists">
  <h2>Wishlist | <%= @wishlist.name %></h2>
  <small>Click on the article values to edit</small>
  <% unless @wishlist.wishlistlines.empty? %>
  <table class="wishlistlines" summary="User wishlistlines">
    <th class="name">Name</th>
    <th>Quantity</th>
    <th>Bought</th>
    <th>Price</th>
    <th></th>
    <%= render @wishlistlines %>
  </table>
  <%= will_paginate @wishlistlines %>
  <% end %>
</div>

<%= render 'shared/wishlistline_form' %>
<%= link_to 'Back', wishlists_path %>